<!DOCTYPE html>
<html lang="en">
  <head>
    {%- if site[utils.currentEnv].speedcurveActive  -%}
      {%- include "_includes/_speedcurve.njk" -%}
    {%- endif -%}
    <meta charset="UTF-8">
    <title>{{ headTagTitleForSEO if headTagTitleForSEO else title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {%- include "_includes/_fonts.njk" -%}
    {%- include "_includes/_favicons.njk" -%}
    {%- include "_includes/_meta_seo_og.njk" -%}
    {%- if pageType=='gatedContent' or pageType=='contentUpgrade' -%}
      {%- include "_includes/_gated_redirect.njk"  -%}
    {%- endif -%}
    <script defer src="/scripts/main.js?version={{ utils.version }}"></script>
    {# {%- set isServerless = false -%}
    {% if eleventy.serverless %}
      {%- set isServerless = true -%}
    {%- endif -%} #}
    {%- if site[utils.currentEnv].inlineCSS  -%}
      {# Inline CSS only gets created on server start or build, not on HMR/Browsersync changes. #}
      {%- set css -%}
      {%- include "../../styles/compiled.css" -%}
      {%- endset -%}
      <style>
        {{css | safe}}
      </style>
    {%- else -%}
      <link rel="stylesheet" href="/styles/compiled.css?version={{ utils.version }}">
    {%- endif -%}

    <link rel="preconnect" href="https://a44267.actonservice.com">
    <link rel="dns-prefetch" href="https://a44267.actonservice.com">

    <link rel="preconnect" href="https://snap.licdn.com">
    <link rel="dns-prefetch" href="https://snap.licdn.com">

    <link rel="preconnect" href="https://www.googletagmanager.com">
    <link rel="dns-prefetch" href="https://www.googletagmanager.com">

    <script>
      {%- set formsActive = site[utils.currentEnv].formsActive -%}
      {%- set showDefaultTextInForms = site[utils.currentEnv].showDefaultTextInForms -%}
      window.formsActive = {{ formsActive }};
      window.showDefaultTextInForms = {{ showDefaultTextInForms }};
    </script>

  </head>
  <body data-env={{ site[utils.currentEnv].domain }} class="{{ 'debug-screens' if site[utils.currentEnv].debugScreens  }} bg-u2-white">
    {%- include "_includes/_cookie-banner.njk" -%}
    {{ content | safe }}
    {%- if site[utils.currentEnv].googleAnalyticsActive -%}
      {%- include "_includes/trackers/_googleAnalytics.njk" -%}
    {%- endif -%}
  </body>
</html>