---
layout: _page_skeleton.njk
---
<header class=""> 
{% include '_includes/_header.njk' %}    
</header>  
<main class=""> 
  {{ content | safe }}
</main>
<footer class="">
{% include '_includes/_footer.njk' %}  
</footer>