{% import "_components/_icons.njk" as icons with context %}

{% macro result(colour = 'orange', stat = '00%', text = 'None supplied', icon = 'graph') %}
  {% set fgText = 'text-u2-cream' %}

  {% if colour == 'purple' %}
    {% set bgColour = 'bg-u2-purple' %}
    {% set bgAlt = 'bg-u2-purpleAlt' %}
    {% set bgTextAlt = 'text-u2-purpleAlt' %}
    {% set bgText = 'text-u2-purple' %}

  {% elif colour == 'orange' %}
    {% set bgColour = 'bg-u2-orange' %}
    {% set bgAlt = 'bg-u2-orangeAlt' %}
    {% set bgTextAlt = 'text-u2-orangeAlt' %}
    {% set bgText = 'text-u2-orange' %}

  {% elif colour == 'green' %}
    {% set bgColour = 'bg-u2-green' %}
    {% set bgAlt = 'bg-u2-greenAlt' %}
    {% set bgTextAlt = 'text-u2-greenAlt' %}
    {% set bgText = 'text-u2-green' %}

  {% elif colour == 'darkBlue' %}
    {% set bgColour = 'bg-u2-darkBlue' %}
    {% set bgAlt = 'bg-u2-darkBlueAlt' %}
    {% set bgTextAlt = 'text-u2-darkBlueAlt' %}
    {% set bgText = 'text-u2-darkBlue' %}

  {% elif colour == 'pink' %}
    {% set bgColour = 'bg-u2-pink' %}
    {% set bgAlt = 'bg-u2-pinkAlt' %}
    {% set bgTextAlt = 'text-u2-pinkAlt' %}
    {% set bgText = 'text-u2-pink' %}

  {% endif %}

  <div class="p-4 py-8 lg:px-8 lg:py-12 h-96">
    <div class="h-0 flex flex-row items-center {{bgTextAlt}} ">
      {{ icons.result()  }}
      <span class="ml-4 font-display">Result</span>
    </div>
    <div class="flex items-center h-full mt-4 text-u2-cream">
      <div class="grid items-center grid-cols-6">
        <div class="col-span-12 lg:col-span-4">
          <h3 class="text-massive-fluid font-display">{{stat}}</h3>
          <p class="text-xl">{{text}}</p>
        </div>
        <div class="hidden lg:block lg:col-span-2 {{ bgTextAlt }} order-first lg:order-last">
          {{ icons.graph(size='lg:w-full pl-4')}}
        </div>
      </div>
    </div>
  </div>
{% endmacro %}

{% macro stat(colour = 'orange', stat = '00%', text = 'None supplied', icon = 'graph') %}
  {% set fgText = 'text-u2-cream' %}

  {% if colour == 'purple' %}
    {% set bgColour = 'bg-u2-purple' %}
    {% set bgAlt = 'bg-u2-purpleAlt' %}
    {% set bgTextAlt = 'text-u2-purpleAlt' %}
    {% set bgText = 'text-u2-purple' %}

  {% elif colour == 'orange' %}
    {% set bgColour = 'bg-u2-orange' %}
    {% set bgAlt = 'bg-u2-orangeAlt' %}
    {% set bgTextAlt = 'text-u2-orangeAlt' %}
    {% set bgText = 'text-u2-orange' %}

  {% elif colour == 'green' %}
    {% set bgColour = 'bg-u2-green' %}
    {% set bgAlt = 'bg-u2-greenAlt' %}
    {% set bgTextAlt = 'text-u2-greenAlt' %}
    {% set bgText = 'text-u2-green' %}

  {% elif colour == 'darkBlue' %}
    {% set bgColour = 'bg-u2-darkBlue' %}
    {% set bgAlt = 'bg-u2-darkBlueAlt' %}
    {% set bgTextAlt = 'text-u2-darkBlueAlt' %}
    {% set bgText = 'text-u2-darkBlue' %}

  {% elif colour == 'pink' %}
    {% set bgColour = 'bg-u2-pink' %}
    {% set bgAlt = 'bg-u2-pinkAlt' %}
    {% set bgTextAlt = 'text-u2-pinkAlt' %}
    {% set bgText = 'text-u2-pink' %}

  {% endif %}

  <div class="p-4 py-8 lg:px-8 lg:py-12 h-96">
    <div class="h-0 flex flex-row items-center {{bgTextAlt}} ">
      {{ icons.stat()  }}
      <span class="ml-4 font-display">Stat</span>
    </div>
    <div class="flex items-center h-full mt-4 text-u2-cream">
      <div class="grid items-center grid-cols-6">

        <div class="col-span-12 lg:col-span-4">
          <h3 class="text-massive-fluid font-display">{{stat}}</h3>
          <p class="text-xl">{{text}}</p>
        </div>
        <div class="hidden lg:block lg:col-span-2 {{ bgTextAlt }} order-first lg:order-last">
          {{ icons.graph(size='lg:w-full pl-4')}}
        </div>
      </div>
    </div>
  </div>
{% endmacro %}

{% macro testimonial(colour = 'orange', stat = '00%', text = 'None supplied', person = 'Bob', jobTitle = 'Head of Doing', icon = 'graph') %}
  {% set fgText = 'text-u2-cream' %}

  {% if colour == 'purple' %}
    {% set bgColour = 'bg-u2-purple' %}
    {% set bgAlt = 'bg-u2-purpleAlt' %}
    {% set bgTextAlt = 'text-u2-purpleAlt' %}
    {% set bgText = 'text-u2-purple' %}

  {% elif colour == 'orange' %}
    {% set bgColour = 'bg-u2-orange' %}
    {% set bgAlt = 'bg-u2-orangeAlt' %}
    {% set bgTextAlt = 'text-u2-orangeAlt' %}
    {% set bgText = 'text-u2-orange' %}

  {% elif colour == 'green' %}
    {% set bgColour = 'bg-u2-green' %}
    {% set bgAlt = 'bg-u2-greenAlt' %}
    {% set bgTextAlt = 'text-u2-greenAlt' %}
    {% set bgText = 'text-u2-green' %}

  {% elif colour == 'darkBlue' %}
    {% set bgColour = 'bg-u2-darkBlue' %}
    {% set bgAlt = 'bg-u2-darkBlueAlt' %}
    {% set bgTextAlt = 'text-u2-darkBlueAlt' %}
    {% set bgText = 'text-u2-darkBlue' %}

  {% elif colour == 'pink' %}
    {% set bgColour = 'bg-u2-pink' %}
    {% set bgAlt = 'bg-u2-pinkAlt' %}
    {% set bgTextAlt = 'text-u2-pinkAlt' %}
    {% set bgText = 'text-u2-pink' %}
  {% endif %}

  <div class="p-4 py-8 lg:px-8 lg:py-12 h-96">
    <div class="h-0 flex flex-row items-center {{bgTextAlt}} ">
      {{ icons.testimonial()  }}
      <span class="ml-4 font-display">Testimonial</span>
    </div>
    <div class="flex items-center h-full mt-4 text-u2-cream">
      <div class="grid items-center grid-cols-6">
        <div class="col-span-6">
          <p class="text-xl lg:mt-8 xl:text-2xl ">{{text}}</p>
          <p class="mt-4 text-xs sm:text-base ">{{person}}</p>
          <p class="text-xs sm:text-base ">{{jobTitle}}</p>
        </div>
      </div>
    </div>
  </div>
{% endmacro %}





{% macro fancyThing(data = "nothing") %}
  <p class="mt-4">you gave me {{ data }}</p>
{% endmacro %}

{% macro fancyBlock(data = "nothing") %}
  <div class="grid grid-cols-1 gap-u2-gap md:grid-cols-2 xl:grid-cols-3">
    <div class="grid gap-u2-gap xl:col-span-3 xl:h-128 md:grid-cols-1 xl:grid-cols-3">
      <div class="h-56 bg-blue-200 shadow-sm xl:h-full xl:col-span-2">1</div>
      <div class="mb-4 xl:h-full xl:mt-0 text-xl-fluid">
        <p class="">ustwo: finalists in Fast Company's Innovation by Design Awards 2020</p>
        <p class="text-sm-fluid">some-link</p>
      </div>
    </div>
    <div class="grid gap-u2-gap md:grid-cols-1">
      <div class="h-56 bg-blue-200 shadow-sm ">2</div>
      <div class="mb-4 xl:-mt-6 text-xl-fluid">
        <p class="">ustwo: finalists in Fast Company's Innovation by Design Awards 2020</p>
        <p class="text-sm-fluid">some-link</p>
      </div>
    </div>
    <div class="grid gap-u2-gap md:grid-cols-1">
      <div class="h-56 bg-blue-200 shadow-sm ">3</div>
      <div class="mb-4 xl:-mt-6 text-xl-fluid">
        <p class="">ustwo: finalists in Fast Company's Innovation by Design Awards 2020</p>
        <p class="text-sm-fluid">some-link</p>
      </div>
    </div>
    <div class="grid gap-u2-gap md:grid-cols-1">
      <div class="h-56 bg-blue-200 shadow-sm ">4</div>
      <div class="mb-4 xl:-mt-6 text-xl-fluid">
        <p class="">ustwo: finalists in Fast Company's Innovation by Design Awards 2020</p>
        <p class="text-sm-fluid">some-link</p>
      </div>
    </div>
    <div class="grid gap-u2-gap md:grid-cols-1">
      <div class="h-56 bg-blue-200 shadow-sm ">2</div>
      <div class="mb-4 xl:-mt-6 text-xl-fluid">
        <p class="">ustwo: finalists in Fast Company's Innovation by Design Awards 2020</p>
        <p class="text-sm-fluid">some-link</p>
      </div>
    </div>
    <div class="grid gap-u2-gap md:grid-cols-1">
      <div class="h-56 bg-blue-200 shadow-sm ">3</div>
      <div class="mb-4 xl:-mt-6 text-xl-fluid">
        <p class="">ustwo: finalists in Fast Company's Innovation by Design Awards 2020</p>
        <p class="text-sm-fluid">some-link</p>
      </div>
    </div>
    <div class="grid gap-u2-gap md:grid-cols-1">
      <div class="h-56 bg-blue-200 shadow-sm ">4</div>
      <div class="mb-4 xl:-mt-6 text-xl-fluid">
        <p class="">ustwo: finalists in Fast Company's Innovation by Design Awards 2020</p>
        <p class="text-sm-fluid">some-link</p>
      </div>
    </div>
    <div class="grid gap-u2-gap md:grid-cols-1">
      <div class="h-56 bg-blue-200 shadow-sm ">2</div>
      <div class="mb-4 xl:-mt-6 text-xl-fluid">
        <p class="">ustwo: finalists in Fast Company's Innovation by Design Awards 2020</p>
        <p class="text-sm-fluid">some-link</p>
      </div>
    </div>
    <div class="grid gap-u2-gap md:grid-cols-1">
      <div class="h-56 bg-blue-200 shadow-sm ">3</div>
      <div class="mb-4 xl:-mt-6 text-xl-fluid">
        <p class="">ustwo: finalists in Fast Company's Innovation by Design Awards 2020</p>
        <p class="text-sm-fluid">some-link</p>
      </div>
    </div>
  </div>
{% endmacro %}