{# Automatically create a macro for each component in '_components'.
The Include will inherit the params #}
{%- macro component(name, params) -%}
  {% include "../_components/" + name + "/" + name + ".njk"  %}
{%- endmacro -%}