@tailwind base;
@tailwind components;

@font-face {
  font-family: 'Plex';
  font-display: optional;
  src: url('/fonts/IBMPlexSans.var.latin-subset.woff2')
      format('woff2 supports variations'),
    url('/fonts/IBMPlexSans.var.latin-subset.woff2') format('woff2-variations');
  font-weight: 100 900;
  font-stretch: 25% 151%;
  unicode-range: U+000-5FF;
}

@tailwind utilities;

:root {
  --brand: rgb(11, 134, 235);
  --brand-alt: rgb(23, 161, 23);
}

@layer utilities {
  .dwkns-container {
    @apply px-4 mx-auto sm:px-0 sm:w-93%;
  }



  .dwkns-grid {
    @apply grid grid-cols-12 gap-4 sm:gap-8 lg:gap-16;
  }

  .dwkns-mt {
    @apply mt-4 sm:mt-8 lg:mt-16
  }
}
