{% import "_components/_buttons.njk" as buttons with context %}
<div id='cookie-banner' class="fixed bottom-0 right-0 z-10 hidden mb-2 text-sm mx-u2-gutter-sm sm:mx-u2-gutter text-u2-white bg-u2-orange">
  <div class="flex flex-col items-center h-full p-4 md:flex-row md:max-w-3xl ">
    <p class="mt-0 mr-4 text-base md:pr-8">We take your privacy seriously and will not sell or share your data. We do use cookies to enhance site experience and to analyze our marketing performance. Learn more in our <a class="underline hover:text-u2-black" 
    href="{{site.links.privacy}}">Privacy Notice</a>.</p>
    <span class="mt-4 md:mt-0">{{ buttons.button(text = 'Accept & continue',  topMargin='mt-0', id='acceptPrivacyBannerButton',colour='onWhite')}}</span>
  </div>
</div>