{%- set noIndexValue = noindex -%} {# default to whatever value is given #}
{%- set noIndexValue = 'noindex' if noindex == true else noIndexValue -%}
{%- set noIndexValue = 'index' if noindex == undefined else noIndexValue -%} {# assume it should be indexed #}
{%- set noIndexValue =  'index' if noindex == false else noIndexValue -%}
{%- if site[utils.currentEnv].allowIndexing -%}
  <meta name="robots" content="{{ noIndexValue }}">
{%- else  -%}
  <meta name="robots" content="noindex">
  <meta name="robotsOnProductionWillBe" content="{{ noIndexValue }}">
{%- endif -%}
<meta name="description" content="{{ description }}"/>
<meta name="keywords" content="{{ keywords }}"/>
<link rel="canonical" href="{{ canonical  if canonical else site[utils.currentEnv].baseURL + page.url }}"/>
{%- set ldJSON -%}
{
    "@context": "https://schema.org",
    "@type": "Organization",
    "name": "{{site.name}}",
    "legalName": "{{ site.legalName }}",
    "url": "{{site[utils.currentEnv].baseURL}}",
    "logo": "{{site.logo}}",
    "foundingDate": "{{site.foundingDate}}",
    "address": {
    "@type": "{{site.address.type}}", 
     "streetAddress": "{{site.address.streetAddress}}", 
     "addressRegion": "{{site.address.addressRegion}}", 
     "postalCode": "{{site.address.postalCode}}", 
     "addressCountry": "{{site.address.addressCountry}}" 
    },
    "sameAs": [
      "{{ site.twitterURL }}", 
      "{{ site.linkedInURL }}", 
      "{{ site[utils.currentEnv].baseURL }}"]
  }
{%- endset -%}
<script {{ site[utils.currentEnv].baseUrl }} type="application/ld+json">
   {{ldJSON | safe }}
</script>
<!-- Facebook Meta Tags -->
{%- set socialTitle = value -%}
<meta name="title" property="og:title" content="{{ og_title if og_title else title}}"/>
<meta property="og:description" content="{{ og_description if og_description else description}}"/>
<meta name="site_name" property="og:site_name" content="{{ og_site_name if og_site_name else site.og.siteName}}"/>
<meta name="url" property="og:url" content="{{ site[utils.currentEnv].baseURL}}{{page.url }}"/>
<meta name="type" property="og:type" content="{{ og_type if og_type else site.og.defaultType}}"/>
<meta name="image" property="og:image" content="{{ site[utils.currentEnv].baseURL}}{{ og_image if og_image else site.og.image }}"/>
<meta name="author" property="og:author" content="{{ author }}"/>
<meta name="publish_date" property="og:publish_date" content="{{date}}">
<meta property="og:image:width" content="1200"/>
<meta property="og:image:height" content="630"/>
<meta name="locale" property="og:locale" content="{{site.og.locale}}"/>
<meta name="twitter:site" content="{{ site.og.twitterSite }}"/>
<meta property="twitter:domain" content="{{ site.og.twitterDomain }}">
<meta name="twitter:title" content="{{ og_title if og_title else title }}"/>
<meta name="twitter:description" content="{{ og_description if og_description else og_description }}"/>
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:image" content="{{ site[utils.currentEnv].baseURL}}{{ og_image if og_image else site.og.image }}"/>
<meta name="twitter:dnt" content="on"/>

<link rel="manifest" href="/site.webmanifest">

{# ---
title: The manin page title (required)
description: Page Desctription (required)
keywords: Blank if not supplied
canonical: 
og_title: Will use 'title' if not present
og_description:  Will use 'description' if not present 
og_image: Will use a default from 'site.og.image' if not present
og_type:
twitter_title:  Will use 'title' if not present
twitter_description:  Will use 'description' if not present
twitter_image: Will use a default from 'site.og.twitterImage' if not present
robots: See values below
sitemap: must be set to 'true' to be included in the sitemap
keywords
--- #}

{# Robots values
  Noindex: Tells a search engine not to index a page.
  Index: Tells a search engine to index a page. Note that you don’t need to add this meta tag; it’s the default.
  Follow: Even if the page isn’t indexed, the crawler should follow all the links on a page and pass equity to the linked pages.
  Nofollow: Tells a crawler not to follow any links on a page or pass along any link equity.
  Noimageindex: Tells a crawler not to index any images on a page.
  None: Equivalent to using both the noindex and nofollow tags simultaneously.
  Noarchive: Search engines should not show a cached link to this page on a SERP.
  Nocache: Same as noarchive, but only used by Internet Explorer and Firefox.
  Nosnippet: Tells a search engine not to show a snippet of this page (i.e. meta description) of this page on a SERP.
  Noodyp/noydir [OBSOLETE]: Prevents search engines from using a page’s DMOZ description as the SERP snippet for this page. However, DMOZ was retired in early 2017, making this tag obsolete.
  Unavailable_after: Search engines should no longer index this page after a particular date.
#}