{%- macro form(
    formType = 'gatedContent',
    fields = "{
        fields: {
          email: { visible: true, default: '', validation: ['required', 'email'], errorMessage: '' },
          country: { visible: true, default: '', validation: [], errorMessage: '' }
        }}",
      formTitle,
      loadingTitle,
      formCTA,
      formButtonText,
      thankYouTitle,
      thankYouCTA,
      thankYouButtonText,
      forwardURL
    ) -%}

{%- import "_components/_icons.njk" as icons with context -%}
{%- import "_components/forms/_forms.njk" as formBase with context -%}

{%- set formTitle = formTitle if formTitle else site.forms[formType].formTitle -%}
{%- set loadingTitle = loadingTitle if loadingTitle else site.forms[formType].loadingTitle  -%}
{%- set formCTA = formCTA if formCTA else site.forms[formType].formCTA  -%}
{%- set formButtonText = formButtonText if formButtonText else site.forms[formType].formButtonText -%}
{%- set thankYouTitle = thankYouTitle if thankYouTitle else site.forms[formType].thankYouTitle -%}
{%- set thankYouCTA = thankYouCTA if thankYouCTA else site.forms[formType].thankYouCTA -%}
{%- set thankYouButtonText = thankYouButtonText if thankYouButtonText else site.forms[formType].thankYouButtonText -%}
{%- set forwardURL = forwardURL if forwardURL else '' -%}


{%- set titles = "{ 
          formTitle: \""+formTitle+"\",
          formCTA: \""+formCTA+"\",
          formButtonText: \""+formButtonText+"\",
          thankYouTitle: \""+thankYouTitle+"\",
          thankYouCTA: \""+thankYouCTA+"\",
          thankYouButtonText: \""+thankYouButtonText+"\",  
        }"  -%}
  {# Pass the form titles into AlpineJS so they can be changed by JS #}
  <div class="col-span-12 bg-u2-light-grey lg:col-span-6" x-data='gatedContent( "{{formType}}", {{fields}},{{titles}} )'  x-init="init()"  >

    <div class= "px-4 pt-6 lg:px-8 lg:pt-8" >
      <div x-bind:class='!checkStatus("postForm") ? "" : "invisible"' >
        <h3 class="mt-0 text-3xl md:text-4xl font-display" x-text='title'></h3>
        {# <div class="pb-4 mt-0 text-xl" class="">{{formCTA | safe}}</div> #}
        <p class="mt-0 ">{{formCTA | safe}}</p>
      </div>
    </div>

    <div class="relative min-h-[350px] ">
      <div x-show.transition.opacity='checkStatus("initialisingForm")' class="absolute flex flex-col items-center justify-center transition " >
        {{ icons.spinner()}}
      </div>

      <div x-cloak x-show.transition.opacity='checkStatus("showingForm")' class="absolute inset-0 px-4 lg:px-8" >
        {{ formBase.newForm(formType=formType, forwardURL=forwardURL)}}
      </div>

      <div x-show.transition.opacity='checkStatus("postForm")' id="postSubmit" class="absolute inset-0 flex flex-col items-center w-full transition " >
        <p  x-text="thankYouTitle" class="-mt-8 text-4xl text-center "></p>
        <p  x-text="thankYouCTA" class="my-12 text-2xl text-center"></p>
        {{ icons.tick()}}
      </div>
    </div>
  </div>
{%- endmacro -%}