---
title: '404 – Page Not Found'
permalink: /404.html
eleventyExcludeFromCollections: true
sitemap: exclude
layout: _regular_page.njk
---
<section class="mx-auto max-w-screen-3xl px-u2-gutter-sm sm:px-u2-gutter">
  <h1 class="mt-24 mb-0 text-[160px] font-display">404</h1>
  <p class="mt-4 text-8xl font-display">oops!</p>
  <p class="text-3xl">The page you're looking for can't be found.</p>
  <p class="text-xl max-w-prose">Under2 help Fintech's improve the performance of their websites. Maybe you'd like to <a class="link" href="{{ site[utils.currentEnv].baseUrl }}">go back to the homepage</a> and find out about them.</p>
  <p class="text-xl"></p>
  </section>